<h1> Moba Stats </h1>
  <body>
    <%= form_tag("/users") do %>
      <%= text_field_tag "email" , nil, placeholder: "Email" , class: "field" %>
      <%= password_field_tag "password" , nil, placeholder: "Password", class: "field" %> 
      <%= password_field_tag "password_confirmation" , nil, placeholder: "Password Confirmation", class: "field" %> 
      <%= submit_tag "submit", class: "submit"%>
    <% end %>
  </body>
