<h1>
  <%= @game.name %>
</h1>

<h2> Heroes </h2>
  <% @game.heros.each do |hero| %>
    <%= hero.name %>
    <ul>
      <li> <%= hero.stats %> </li>
      <ul>
        <% hero.items.each do |item| %>
          <li> <%= item.name %> </li>
        <% end %>
      </ul>
      <li> <%= link_to "Edit", edit_game_hero_path(@game, hero) %> </li>
    </ul>
  <% end %>

  <%= form_for [@game, @hero] do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :stats, placeholder: "Stats" %>
    <%# <%= f.text_field :items, placeholder: "Items" %1> %>
    <%= f.submit "Create Hero"%>
  <% end %>

<h2> Items </h2>
  <% @game.items.each do |item| %>
    <%= item.name %>
    <ul>
      <li> <%= item.description %> </li>
      <li> <%= link_to "Edit", edit_game_item_path(@game, item) %> </li>
    </ul>
  <% end %>

  <%= form_for [@game, @item] do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :description, placeholder: "Description" %>
    <%= f.submit "Create Item"%>
  <% end %>

