<h1>
  <%= @game.name %>
</h1>

<h2> Heroes </h2>
  <% @game.heros.each do |hero| %>
    <%= hero[name = "name"] %>
    <li> <%= link_to "Edit", edit_game_hero_path(@game, hero) %> </li>
  <% end %>

  <%= form_for [@game, @hero] do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :stats, placeholder: "Stats" %>
    <%= f.select(:item_ids, options_from_collection_for_select(Item.all, :id, :name)) %>

       <%= f.submit "Create Hero"%>
  <% end %>

<h2> Items </h2>
  <% @game.items.each do |item| %>
    <ul>
      <li> <%= item %> </li>
    </ul>
  <% end %>

  <%= form_for [@game, @item] do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :description, placeholder: "Description" %>
    <%= f.submit "Create Item"%>
  <% end %>

